.menu-container > .menu-item > .menu-link {
    font-size: 14px;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: 400 !important;
    text-transform: capitalize;
    letter-spacing: 1px;
}